html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Gabarito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

@font-face {
    font-family: "Gabarito";
    font-style: normal;
    src: local(""),
    url("assets/fonts/Gabarito-VariableFont_wght.ttf") format("truetype");
}

#app {
    height: 100vh;
    text-align: center;
}
